<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<title>ARCH Motorcycle</title>

	<%=require('./components/head.html')%>
	<%=require('./components/header.html')%>
	<%=require('./components/preloader.html')%>
	<div class="grid">
		<div class="grid-line grid-line-vertical __1"></div>
		<div class="grid-line grid-line-vertical __2"></div>
		<div class="grid-line grid-line-vertical __3"></div>
		<div class="grid-line grid-line-horizontal __4"></div>
	</div>
	<div class="scroll-container" id="scroll-container">
		<div data-router-wrapper>
			<div data-router-view="home">
				<div class="page" id="page">
					<div class="motorcycles" id="home-motorcycles">
						<div class="section-nav"
								 data-scroll
								 data-scroll-sticky
								 data-scroll-target="#home-motorcycles">
							<div class="section-nav-box" data-motorcycle="home-hero">
								<div class="section-nav-title text-nav">Krgt-1</div>
								<div class="section-nav-title text-nav">Krgt-1</div>
								<div class="section-nav-title text-nav">Krgt-1</div>
								<div class="section-nav-title text-nav">Krgt-1</div>
								<div class="section-nav-title text-nav">Krgt-1</div>
								<div class="section-nav-title text-nav">Krgt-1</div>
								<div class="section-nav-title text-nav">Krgt-1</div>
								<div class="section-nav-title text-nav">Krgt-1</div>
							</div>
							<div class="section-nav-box" data-motorcycle="arch-krgt-1">
								<div class="section-nav-title text-nav">Arch 1s</div>
								<div class="section-nav-title text-nav">Arch 1s</div>
								<div class="section-nav-title text-nav">Arch 1s</div>
								<div class="section-nav-title text-nav">Arch 1s</div>
								<div class="section-nav-title text-nav">Arch 1s</div>
								<div class="section-nav-title text-nav">Arch 1s</div>
								<div class="section-nav-title text-nav">Arch 1s</div>
								<div class="section-nav-title text-nav">Arch 1s</div>
							</div>
							<div class="section-nav-box" data-motorcycle="arch-1s">
								<div class="section-nav-title text-nav">Method 143</div>
								<div class="section-nav-title text-nav">Method 143</div>
								<div class="section-nav-title text-nav">Method 143</div>
								<div class="section-nav-title text-nav">Method 143</div>
								<div class="section-nav-title text-nav">Method 143</div>
								<div class="section-nav-title text-nav">Method 143</div>
								<div class="section-nav-title text-nav">Method 143</div>
								<div class="section-nav-title text-nav">Method 143</div>
							</div>
						</div>
						<%=require('./pages/home/motorcycles-bg.html')%>
						<%=require('./pages/home/hero.html')%>
						<%=require('./pages/home/krgt-1.html')%>
						<%=require('./pages/home/1s.html')%>
						<%=require('./pages/home/method-143.html')%>
					</div>
					<%=require('./pages/home/banner.html')%>
					<%=require('./pages/home/about.html')%>
					<%=require('./pages/home/videos.html')%>
					<%=require('./components/footer.html')%>
				</div>
			</div>
		</div>
	</div>
<%=require('./components/scripts.html')%>