<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<title>ARCH Motorcycle</title>

	<%=require('./components/head.html')%>
	<%=require('./components/header.html')%>
	<div class="page-shadow"></div>
	<div class="grid">
		<div class="grid-line grid-line-vertical __1"></div>
		<div class="grid-line grid-line-vertical __2"></div>
		<div class="grid-line grid-line-vertical __3"></div>
		<div class="grid-line grid-line-horizontal __4"></div>
	</div>
	<div class="scroll-container" id="horizontal-scroll-container">
		<div data-router-wrapper>
			<div data-router-view="motorcycle">
				<div class="section-content-abstract __krgt-1" id="krgt-1-abstract">
					<img data-src="../../../images/pages/motorcycle/motor.png" alt="Custom components"/>
				</div>
				<div class="section-content-abstract __advantages theme-white" id="krgt-1-advantages">
					<img src="" id="krgt-1-advantages-img" alt="Custom components" class="advantages-banner"/>
<!--					<div class="spot motorcycle-spot">-->
<!--						<img data-src="../../../images/pages/motorcycle/layer_1.svg" alt="" />-->
<!--					</div>-->
				</div>
				<div class="advantages-nav theme-white">
					<button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="0">
						<span class="btn-title">Wheels</span>
						<span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
					</button>
					<button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="1">
						<span class="btn-title">Brakes</span>
						<span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
					</button>
					<button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="2">
						<span class="btn-title">Suspension</span>
						<span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
					</button>
					<button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="3">
						<span class="btn-title">Billet aluminum</span>
						<span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
					</button>
					<button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="4">
						<span class="btn-title">Powertrain</span>
						<span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
					</button>
					<button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="5">
						<span class="btn-title">Chassis</span>
						<span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
					</button>
					<button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="6">
						<span class="btn-title">Build</span>
						<span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
					</button>
				</div>
				<div class="section-background theme-white motorcycle-advantages"></div>
				<div class="motorcycle-video-banner theme-dark">
					<div class="video-box hiddenOnLoading">
						<div class="video">
							<video id="krgt-1-video"
										 muted
										 loop
										 playsinline
										 webkit-playsinline>
								<source src="../../../video/krgt-1/KRGT-1-body.mp4" type="video/mp4" />
								<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that</p>
							</video>
						</div>
					</div>
				</div>
				<div class="page" id="page" data-scroll-direction="vertical">
					<div class="scroll-container scroll-container-vertical" id="vertical-scroll-container">
						<%=require('./pages/krgt-1/hero.html')%>
						<%=require('./pages/krgt-1/photos-1.html')%>
						<%=require('./pages/krgt-1/custom-components.html')%>
						<%=require('./pages/krgt-1/advantages.html')%>
						<div class="motorcycle-theme-switcher">
							<%=require('./pages/krgt-1/video.html')%>
							<%=require('./pages/krgt-1/specifications.html')%>
							<%=require('./pages/krgt-1/photos-2.html')%>
							<%=require('./pages/krgt-1/tailor.html')%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%=require('./components/scripts.html')%>