<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<title>ARCH Motorcycle</title>

	<%=require('./components/head.html')%>
	<%=require('./components/header.html')%>
	<%=require('./components/preloader.html')%>
	<div class="page-shadow"></div>
	<div class="grid">
		<div class="grid-line grid-line-vertical __1"></div>
		<div class="grid-line grid-line-vertical __2"></div>
		<div class="grid-line grid-line-vertical __3"></div>
		<div class="grid-line grid-line-horizontal __4"></div>
	</div>
	<div data-router-wrapper>
		<div data-router-view="motorcycle">
			<div class="scroll-container __vertical" id="vertical-scroll-container">
				<div class="page" id="page" data-scroll-direction="vertical">
					<%=require('./pages/krgt-1/hero.html')%>
					<%=require('./pages/krgt-1/photos-1.html')%>
				</div>
			</div>
		</div>
	</div>
<%=require('./components/scripts.html')%>