<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>ARCH METHOD 143 - ARCH Motorcycle</title>

    <%=require('./components/head.html')%>
    <%=require('./components/header.html')%>
    <div class="page-shadow"></div>
    <div class="grid">
        <div class="grid-line grid-line-vertical __1"></div>
        <div class="grid-line grid-line-vertical __2"></div>
        <div class="grid-line grid-line-vertical __3"></div>
        <div class="grid-line grid-line-horizontal __4"></div>
    </div>
    <div class="scroll-container" id="horizontal-scroll-container">
        <div data-router-wrapper>
            <div data-router-view="motorcycle">
<!--                <%=require('./pages/method-143/next-motorcycle.html')%>-->
                <div class="section-background theme-white motorcycle-advantages hide-on-preload is-hidden"></div>
                <div class="section-content-abstract __krgt-1 hide-on-preload" id="krgt-1-abstract">
                    <img data-src="../../../images/pages/motorcycle/motor.png" alt="Custom components"/>
                </div>
                <div class="section-content-abstract __advantages hide-on-preload" id="krgt-1-advantages">
                    <div class="advantages-banner">
                        <img data-src="../../../images/method-143/advantages/wheels.jpg"
                             id="krgt-1-advantages-img"
                             class="advantages-banner-item"
                             alt="Custom components"/>
                    </div>
                    <div class="advantages-banner">
                        <img data-src="../../../images/method-143/advantages/powertrain.jpg"
                             id="krgt-1-advantages-img"
                             class="advantages-banner-item"
                             alt="Custom components"/>
                    </div>
                    <div class="advantages-banner">
                        <img data-src="../../../images/method-143/advantages/exhaust.jpg"
                             id="krgt-1-advantages-img"
                             class="advantages-banner-item"
                             alt="Custom components"/>
                    </div>
                    <div class="advantages-banner">
                        <img data-src="../../../images/method-143/advantages/bodywork.jpg"
                             id="krgt-1-advantages-img"
                             class="advantages-banner-item"
                             alt="Custom components"/>
                    </div>
                    <div class="advantages-banner">
                        <img data-src="../../../images/method-143/advantages/build.jpg"
                             id="krgt-1-advantages-img"
                             class="advantages-banner-item"
                             alt="Custom components"/>
                    </div>
                </div>
                <div class="advantages-nav theme-white hide-on-preload">
                    <button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="0">
                        <span class="btn-title">Wheels</span>
                        <span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
                    </button>
                    <button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="1">
                        <span class="btn-title">Powertrain</span>
                        <span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
                    </button>
                    <button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="2">
                        <span class="btn-title">Exhaust</span>
                        <span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
                    </button>
                    <button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="3">
                        <span class="btn-title">Bodywork</span>
                        <span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
                    </button>
                    <button class="btn btn-sm advantages-nav-link vertical-anchor-link" data-anchor-link="4">
                        <span class="btn-title">Build</span>
                        <span class="btn-icon">
						  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
							  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.91901 0V2H23.919V18H25.919V2V0H23.919H7.91901Z" />
							  <rect y="24.5967" width="33.3707" height="2" transform="rotate(-45 0 24.5967)" />
						  </svg>
						</span>
                    </button>
                </div>
                <div class="motorcycle-video-banner theme-dark __left hide-on-preload">
                    <div class="video-box hiddenOnLoading">
                        <div class="video">
                            <video id="krgt-1-video"
                                   muted
                                   loop
                                   playsinline
                                   webkit-playsinline>
                                <source src="../../../video/method-143/Method-143-body.mp4" type="video/mp4" />
                                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that</p>
                            </video>
                        </div>
                    </div>
                </div>
                <div class="page hide-on-preload" id="page" data-scroll-direction="vertical">
                    <div class="scroll-container scroll-container-vertical" id="vertical-scroll-container">
                        <%=require('./pages/method-143/hero.html')%>
                        <%=require('./pages/method-143/photos-1.html')%>
                        <%=require('./pages/method-143/custom-components.html')%>
                        <%=require('./pages/method-143/advantages.html')%>
                        <div class="motorcycle-theme-switcher">
                            <%=require('./pages/method-143/video.html')%>
                            <%=require('./pages/method-143/photos-lg.html')%>
                            <%=require('./pages/method-143/tailor.html')%>
<!--                            <a href="krgt-1.html"-->
<!--                               class="next-motorcycle-wrap"-->
<!--                               id="next-motorcycle"-->
<!--                               data-transition="nextMotorcycle"></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%=require('./components/scripts.html')%>